#!/bin/bash

WATCH_DIR='{{ inotify_watch_dir }}'
S3_BUCKET='{{ s3_input_bucket }}'
S3_PREFIX='raw'
REGION='{{ aws_region }}'
LOG='{{ inotify_log_file }}'
VIDEO_EXTS='mov|mp4|avi|mkv|webm|wmv|m4v'

echo "[$(date)] inotify watcher started. Watching: $WATCH_DIR" >> $LOG

inotifywait -m -r -e close_write --format '%w%f' "$WATCH_DIR" | while read FILEPATH; do
    FILENAME=$(basename "$FILEPATH")
    EXT=$(echo "${FILENAME##*.}" | tr '[:upper:]' '[:lower:]')

    if echo "$EXT" | grep -qE "^($VIDEO_EXTS)$"; then
        TIMESTAMP=$(date +%s)
        S3_KEY="$S3_PREFIX/${TIMESTAMP}-${FILENAME}"

        echo "[$(date)] Detected video: $FILEPATH" >> $LOG
        echo "[$(date)] Uploading to s3://$S3_BUCKET/$S3_KEY" >> $LOG

        if /usr/local/bin/aws s3 cp "$FILEPATH" "s3://$S3_BUCKET/$S3_KEY" \
            --region "$REGION" \
            --sse AES256; then

            echo "[$(date)] SUCCESS: Uploaded $FILENAME" >> $LOG
            rm -f "$FILEPATH"
            echo "[$(date)] Deleted local copy: $FILEPATH" >> $LOG
        else
            echo "[$(date)] ERROR: Failed to upload $FILENAME" >> $LOG
        fi
    fi
done
